parameters:
    level: 4
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
#        - '#Call to an undefined method [a-zA-Z0-9\\_]+::(get|set|uns|has|calc|unset)[A-Z]#'
        - '#Variable \$block might not be defined.#'
        - '#Undefined variable: \$block#'
    fileExtensions:
        - php
        - phtml
    excludes_analyse:
        - Test/*
